<mat-card class="example-card">
    <div class="global_container">
        <mat-card-header class="flex-center">
            <mat-card-title>Dodaj trasę</mat-card-title>
        </mat-card-header>
        <form #addLineForm="ngForm" (ngSubmit)="addLine(addLineForm)">
            <mat-card-content>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Numer trasy" [(ngModel)]="routeNumber" name="number" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Tytuł" [(ngModel)]="routeTitle" name="title" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Punkty pośrednie" [(ngModel)]="viaPoint" name="viaPoints" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="pickColor">Wybierz kolor trasy</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flex-center">
                        <span [cpToggle]="true"
                              [cpDialogDisplay]="'inline'"
                              [(colorPicker)]="color"></span>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="row">
                    <div class="col-6 flex-center">
                        <button mat-raised-button [disabled]="!routeNumber || !routeTitle || !viaPoint" type="submit" color="primary">Zapisz</button>
                    </div>
                    <div class="col-6 flex-center">
                        <button mat-raised-button type="button" color="primary" routerLink="/">Anuluj</button>
                    </div>
                </div>

            </mat-card-actions>
        </form>
        <div *ngIf="MessageService.messages.length > 0"
             class="alert alert-danger">
            Wystąpił błąd
        </div>
    </div>
</mat-card>
